@import '~react-md/src/scss/react-md';
@import './assets/scss/variables.scss';
@include react-md-everything;

.md-card-title {
    background-color: $color-soft-blue;

    .md-text {
        color: $color-white;
    }
}

.md-table-header {
    background-color: $color-green;

    .md-text--secondary {
        color: $color-white;
    }
}

#patient-info__cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem
}

#patient-info-card, #patient-contact-card {
    margin-right: 1.5rem;
}

#medications {
    height: 300px;
    overflow-y: scroll;
}

#observations {
    height: 500px;
    overflow: scroll;
}
